.job{
  background-color: $color-gray-1;
  .job__content{
    text-align: center;
    padding-bottom: $pd-0;
    .job__item{
      max-width: 450px;
      margin: 0 auto;
      padding: $pd-3;
      h3{
        @include styleText($color-black-light,$fs-2,$fw-0)
      }
    }
  }
}