.sidebar-mini{
  width: 150px;
  top: 25%;
  right: 0;
  z-index:10;
  position: fixed;
  background-color: $color-gray-2;
  transform: translateX(100%);
  transition: all 0.5s;
  button{
    position: fixed;
    transform: translateX(-100%);
    border-radius: $border-radius-0 * 4 0 0 $border-radius-0 * 4;
    @include styleButton($color-black-0,$color-gray-4,$color-gray-4,$fs-3,$fw-0,$pd-0,$pd-3);
    transition: all 0.5s;
  }
  .sidebar__content{
    padding: $pd-2;
    text-align: center;
    h2{
      @include styleText($color-black-0,$fs-1,$fw-0);
    }
    .switch{
      position: relative;
      display: inline-block;
      width: 50px;
      height: 25px;
      margin: 0 $mg-0 + 5;
      input{
        display: none;
        &:checked + .slider{
          &::before{
            transform: translateX(22px);
          }
        }
      }
      .slider{
        background-color: $color-gray-5;
        position: absolute;
        //top: 0;
        //right: 0;
        //left: 0;
        //bottom: 0;
        inset: 0;
        border-radius: $border-radius-0 * 17;
        cursor: pointer;
        &::before{
          content: "";
          display: inline-block;
          width: 18px;
          height: 18px;
          background-color: $color-white-0;
          border-radius: 50%;
          position: absolute;
          bottom: 4px;
          left: 4px;
          transition: all 0.5s;
        }
      }
    }
  }
}
.sidebar__open{
  transform: translateX(0);
}