.owl-next,.owl-prev{
  color: $color-blue-0!important;
  background-color: $color-white-0!important;
  width: 44px;
  height: 44px;
  border-radius: 50%!important;
  box-shadow: 0 2px 8px 2px $color-gray-1;
  font-size: $fs-3 !important;
  position: absolute;
  top: 30%;
  filter: opacity(0.8);
}
.owl-next{
  right: -30px;
}
.owl-prev{
  left: -30px;
}